#create_car, #all_cars, #edit, #delete, #car_list,#new_car, #viewall, #editform {
  background-color: #155986;
  color: black;
  padding: 10px 12px;
  margin-bottom: 11px;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  align-content: space-around;
}

.main{
  background-repeat:no-repeat;
  background-image: url(http://www.hdnicewallpapers.com/Walls/Big/Lamborghini/2019_Awaited_Lamborghini_Aventador_SVJ_63_4K_Car.jpg);
  background-size: cover;
  /* padding: 100px 120px 55px 77px; */
  margin: 2px 600px 5px 600px;
  text-align: center;
  border-radius: 25px;
  
}
#logout, #home,#login, #sign_up{
  background-color: #155986;
  color: black;
  padding: 10px 12px;
  margin-bottom: 11px;
  margin-top: 5px;
  margin-bottom: 11px;
  margin-top: 5px;
  padding: 10px 12px;
  align-content: space-around;
}
.links, #login2, #sign_{
  margin: 2px 600px 5px 725px;
  margin-top: 25px;
  font-weight: 400;
}
.body {
  background-color: rgba(9, 10, 10, 0.568);
}
.hello, #header{
  align-content: center;
  text-align: center;
  background-color: #155986;
  border-radius: 25px;
  margin: 2px 600px 5px 600px;
}
.new_car, #viewall{
  margin: 10px 300px 5px 700px;
}

#errors{
  font-weight: 600;
  font-size: 1.1em;
  padding-left: 29em;
  color: rgb(173, 0, 0);
}
#car_list, {
  padding-top: 1em;
  padding-bottom: 1em;

}

#editform, #singup_form {
  padding-left: 1em;
  margin-left: 42.5em;
}
#header, .body{
  background-repeat:no-repeat;
  background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/21/33/OeNo3r.jpg);

}
#buttn{
  margin-left: 75px;
  font-weight: 400;
}
#login_errors{
  color: red;
}