.body{
  text-align: center;
}
#login, #sign_up, #logout, #home {
  background-color: rgb(73, 192, 240);
box-shadow: 0 5px 0 rgb(50, 59, 65);
color: white;
padding: 0.5em 4.5em;
margin-top: auto;
position: relative;
text-decoration: none;
text-transform: capitalize;
border-radius: 14px ;
}

#login:hover, #sign_up:hover, #logout:hover, #home:hover {
background-color: #2d87ee;
cursor: pointer;
}

#login:active, #sign_up:active, #logout:active, #home:active {
box-shadow: none;
top: 5px;
}
#sign_{
  position: fixed;
  left: 0;
  bottom: 200px;
  width: 100%;
  text-align: center;
}
#header{
  margin-left: 29em;
  margin-right: 29em;
1}
#login2{
  border-radius: 60px;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 340px;
  margin-left: 25em;
  width: 45%;
  text-align: center;
}
input[type=submit] {
  width: 20%;
  background-color: rgb(73, 192, 240);
  box-shadow: 0 5px 0 rgb(50, 59, 65);
  color: white;
  padding: 0.5em 4.5em;
  margin: 8px 0;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #2d87ee;
}

input[type=text], input[type=password] {
  width: 60%;
  padding: 12px 20px;
  margin-left: 0;
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 9px;
}

#viewall{
  border-radius: 60px;
  background-color: #f2f2f2;
  padding-top: 0.5em;
}
#edit,#create, #delete{
  background-color: rgb(73, 192, 240);
  box-shadow: 0 5px 0 rgb(50, 59, 65);
  color: white;
  padding: 0.5em 4.5em;
  text-transform: capitalize;
  border-radius: 14px ;
  bottom: 90px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.hello{
  text-align: center;
}
.main{
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
}
.viewall{
  padding-top: 2em;
  position: relative;
  width: 25%;
  margin: 0 auto;
  text-align: center;
}