<div>
<h2>Log in</h2>
  <form action="/login" method='POST'>
    Username: <input type="text" name="username" placeholder="Enter your username"><br>
    Password: <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="submit" value='Log In!' id="">
  </form>
</div>