<div>
  <div id="errors">
  <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |key, v| %>
        <h3><%="#{key} #{v}"%></h3>
      <% end %>
  <% end %>

  </div>
  
  
  <form id="singup_form"action="/sign_up" method='POST'>
    Username: <input type="text" name="username" placeholder="Choose a cool username"><br><br>
    Email: <input type="text" name="email" placeholder="Enter your email"><br><br>
    Password: <input type="password" name="password" placeholder="Choose a safe password"><br><br>
    <input type="submit" value='Sign Me Up!' id="">

  </form>
</div>