<div>
  <div>
  <% if create_errors? %>
    <% create_errors?.each do |message| %>
      <h2><%=message%></h2>
    <% end %>     
  <% end %>
  
  </div>
<form action="/create_car" method = 'POST'>
  Make: <br><input type="text" name="make" placeholder="Enter the make of your car"><br>
  Model: <br><input type="text" name="model" placeholder="Enter the model of your car"><br>
  Year: <br><input type="text" name="year" placeholder="Enter the year of your car"><br>
  <input type="submit" value="Add Car" id="">
</form>
</div>