<div class="container">
  <h2 class = "center">Create a new car</h2>
  <% if create_errors? %>
    <% create_errors?.each do |message| %>
      <p class="center red-text flow-text"><%=message%></p>
    <% end %>     
  <% end %>

  <div class="row">
    <div class="col s6 offset-s3">
      <div class="center-align">
        <form id="signup_form" action="/cars/new" method='POST'>
          <div class="input-field">
            <input type="text" id="make" name="make">
            <label class="black-text" for="make">Make</label>
          </div>
          <div class="input-field">
            <input  type="text" id="model" name="model">
            <label class="active black-text" for="model">Model</label>
          </div>
          <div class="input-field">
            <input type="text" id="year" name="year">
            <label class="black-text" for="year">Year</label>
          </div>
          <button class="btn btn-large blue-grey darken-1 waves-effect wave-light black-text">Add Car</button>
        </form>
        <p class="green-text">Color, transmission, options, specs and mileage will be added for you</p>
      </div>
    </div>
  </div>
</div>