<div>
<% if @user.cars.size==0 %>
    <h2>You currently have no cars. Why not <a href="/<%=current_user.id%>/create_car">Add a car</a> <br></h2>
  
<% else %>
  <% @user.cars.each do |car| %>
    <h3><%=car.make%> <%=car.model%>, <%=car.year%></h3>
  <% end %>
  
<% end %>

</div>