<div>
  <h2>You do not have permission to view this page</h2>

  <% if session[:user_id] %>
    <h2>Return Home</h2>
  <% else %>
      <a href="/login">Login</a><br>
      <a href="/sign_up">Sign Up</a>
  <% end %>
</div>