<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='header'>
        <h1>Welcome to the Car Garage App</h1>
        <p>A simple application that will allows users to keep track of all their cars(for those who can never remember just how much cars they have) It checks for the uniqueness of username and email when signing up, has password validation and some amount of input validation when creating either users or cars</p>
    </div>
</div>
</body>
</html>
