<div id='header'>
    <h1>Welcome</h1>
    <div id='links'>
      <a href="/login">Login</a><br>
    </div>
    <div id=signup>
      <a href="/sign_up">Sign Up</a>
    </div>
      
    </div>
</div>