<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card blue-grey darken-1">
            <div class="card-content black-text">
                <h1>Welcome to your Garage</h1>
                <p class="flow-text">A simple application that will allows users to keep track of all their cars(for those who can never remember just how much cars they have) It checks for the uniqueness of username and email when signing up, has password validation and some amount of input validation when creating either users or cars. Upon successful signup you will be given 10 new cars to play around with</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
