<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {background: 
             linear-gradient(
                              rgba(33, 150, 243, 0.41), 
                              rgba(33, 150, 243, 0.41)
                             ),
          url("https://img.wallpapersafari.com/desktop/1680/1050/56/62/S5MveD.jpg");
          }
  </style>
  <script src="https://kit.fontawesome.com/4c7508c500.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Garage</title>
</head>
<body class = "grey lighten-2">
  <% if session[:user_id] %>
    
    <nav class="nav-wrapper blue">
      <div class='container'>
        <a href="/" class="brand-logo">Garage</a>
          <ul class="right">
            <li><a id="logout"href="/logout">Log out</a></li>
            <li><a href="https://github.com/ricardo39985/sinatra-project" target="_blank"><i class="fab fa-github fa-3x"></i></a></li>

          </ul>
          <ul class="right">
            <li><a id="create"href="/cars/new">Add a car</a></li>
            <li><a id="edit" href="/cars/select">Edit a car</a></li>
            <li> <a id="delete" href="/cars/delete">Delete a car</a></li>
          </ul>
      </div>
    </nav>
    <%=yield%>
    
  <% else %>
      <nav class="nav-wrapper blue">
        <div class="container">
          <a href="/" class="brand-logo">Garage</a>
          <ul class="right">
            <li><a id="login" href="/login">Login</a></li>
            <li><a id="sign_up"href="/users/new">Sign Up</a></li>
            <li><a href="https://github.com/ricardo39985/sinatra-project" target="_blank"><i class="fab fa-github fa-3x"></i></a></li>
          </ul>
        </div>

      </nav>
          <%=yield%>

    <div id="sign_">
        
      </div>

  <% end %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
